<div class="chart view">
    <div class="container">
        <div class="container">
            <hr>
            <h2>Chart demo</h2>
            <header>Play with Chart</header>
            <div class="span6">
                <canvas chart type="Line" options="options" data="chart" width="500" height="300"></canvas>
            </div>
            <div class="span6">
                <canvas donutchart options="myChartOptions" data="myChartData" width="300" height="300"></canvas>
            </div>
        </div>
    </div>
</div>