<div class="customers view">
    <div class="container">
        <h2>Searh customer</h2>
        <div>
            <input id="searchName" type="text" ng-model="name" placeholder="Type in Name"/>
            <br/>
            <div>
                <div class="row cardContainer">
                    <div class="span3 card" data-ng-repeat="customer in customers | filter:name|orderBy:'city'">
                        <div class="cardHeader">{{customer.name}}</div>
                        <div class="cardBody">{{customer.city}}</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2>Create new Customers</h2>
        <div>
            <p>
                <label for="input_name"> Name:</label>
                <input type="text" id="input_name" placeholder="Name" ng-model="newCustomer.name"/>
            </p>
            <p>
                <label for="input_city"> City:</label>
                <input type="text" id="input_city" placeholder="City" ng-model="newCustomer.city"/>
            </p>
            <p>
                <label for="input_address"> Address:</label>
                <input type="text" id="input_address" placeholder="Address" ng-model="newCustomer.address"/>
            </p>
            <button type="submit" class="btn btn-primary" ng-click="addCustomer()"
                    data-ng-disabled="!newCustomer.name || !newCustomer.city">
                Add Customer
            </button>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

</div>