<div class="dependencygraph view">
    <div id="split-container" d-graph dataset="d3dataset">

        <!--add the list view later-->
        <a class="btn btn-default nav-button" id="nav-list">
            View list
        </a>

        <div id="graph-container">
            <div id="graph"></div>
        </div>
        <div id="docs-container">
            <a id="docs-close" href="#">&times;</a>

            <div id="docs" class="docs"></div>
        </div>
        <div id="new-node">
            <input id="name">
        </div>
    </div>
</div>